body {
    opacity: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background: #f9f9f9;
    color: #444;
    line-height: 1.7em;
    transition: all 0.5s;    
}

h1 {
    color: #fff;
    font-size: 1.8em;
    padding: 0.5em;
    text-align: center;
    background: rgb(201, 8, 8);
    z-index: 2;
    letter-spacing: 0.3em;
    word-spacing: 0.2em;
}

h2 {
    padding: 1em 0 0.5em;
    margin: 0 0 0.5em;
    font-size: 1.75em;
    border-bottom: 1px solid #ddd;
}

h3 {
    font-size: 1.4em;
}

h3,
h4,
h5 {
    padding: 1em 0 0.25em;
}

.container {
    display: grid;
    grid-template-columns: 300px auto;
    width: 100%;
    grid-auto-flow: row;
}

.column {
    background: #f9f9f9;
    height: 100%;
    box-sizing: border-box;
}

.content {
    padding: 2em 3em;
    
}

p {
    padding: 0.5em 0;
}

ul,
ol {
    margin-bottom: 1em;
}

li {
    margin-left: 2em;
}

ul > li {
    list-style-type: circle;
}

ol > li {
    list-style-type: decimal;
}

section {
    margin: 0 0 2em;
}


/* Prism style overrides */
body .line-numbers .line-numbers-rows {
    border-color: #444;
}

body .line-numbers-rows > span:before {
    color: #666;
}

body pre[class*="language-"] {
    border-radius: 0.1em;
}
