body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background: #f9f9f9;
    color: #444;
    line-height: 1.7em;
    
}

h1 {
    color: #fff;
    font-size: 2em;
    padding: 1em 1em 1em 2em;
    background: rgb(201, 8, 8);
    z-index: 2;
    letter-spacing: 2px;
    word-spacing: 0.1em;
}

h2 {
    padding: 1em 0 0.5em;
    margin: 0 0 0.5em;
    font-size: 1.75em;
    border-bottom: 1px solid #ddd;
}

h3 {
    font-size: 1.4em;
}

h3,
h4,
h5 {
    padding: 1em 0 0.25em;
}

.container {
    display: grid;
    grid-template-columns: 300px auto;
    width: 100%;
    grid-auto-flow: row;
}

.column {
    background: #f9f9f9;
    height: 100%;
    box-sizing: border-box;
}

.content {
    padding: 2em 3em;
    
}

p {
    padding: 0.5em 0;
}

ul {
    margin-bottom: 1em;
}

li {
    list-style-type: circle;
    margin-left: 2em;
}

section {
    margin: 0 0 2em;
}



pre[class*="language-"] {
    border-radius: 0.1em;
}
