.toc-box {
    background: #eeeeee;
    border-right: 5px solid rgb(201, 8, 8);
    box-shadow: 0 0 5px #666;
    z-index: 1;
    position: fixed;
    height: 100%;
}

#toc {
    width: 295px;
    padding-top: 1em;
}

#toc.sticky {
    position: fixed;
    top: 0;
}

.toc_title {
    font-size: 1.3em;
    display: block;
    padding: 1em 0 0.5em 1em;
}

.toc_heading {
    font-size: 1.1em;
    display: block;
    padding: 0.25em 2em;
    box-sizing: border-box;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.toc_H3 {
    font-size: 1em;
    padding: 0.25em 2em 0.25em 4em;
}

.toc_heading.active {
    background: rgb(201, 8, 8);
    color: white;
}

.toc_heading.active:hover {
    background: rgb(158, 9, 9);
    color: white;
}

.toc_heading:hover {
    color: rgb(201, 8, 8);
    background: #e7e7e7;
}

#toc a {
    color: #555;
    text-decoration: none;
}